body {
    background: #ced7e5;
}

#slider {
    width: 384px;
    height: 128px;
    border: 5px solid black;
    margin: 50px auto;
    overflow: hidden;
}

#polosa {
    background: #f3f3f3;
    width: 896px;
    position: relative;
    transition: all ease 1s;
    float: left;
}

#polosa img {}

#polosa::after {
    display: block;
    clear: both;
    content: "";
}

button {

    position: relative;
    display: block;
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.arrow {
    text-align: left;
    padding-left: 17px;
}

.arrow:before {
    content: "&#9668";
    position: absolute;
    color: #383736;
    left: 83%;
    opacity: 0;
    -webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.arrow:hover:before {
    left: 84%;
    opacity: 1;
}

.arrow:hover {
    width: 170px;
}